html,
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.input__group {
  margin: 10px 0;
}
h3 {
  color: #008080;
}
input__group.has-error input {
  border: 1px solid red;
  color: red;
  outline: red;
}
label {
  color: #7b68ee;
}
.error-msg {
  font-size: 12px;
  font-style: italic;
  color: red;
}
.input__group input {
  padding: 5px 8px;
  margin: 3px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #555;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
h-screen {
  height: 100vh;
}
.flex-col {
  flex-direction: column;
}
button {
  background-color: #4b0082;
  width: 100px;
  height: 30px;
  text-align: center;
  color: white;
  border-radius: 5px;
  border: none;
}
button:hover {
  background-color: #663399;
}
